{{page-title "LocalStorageTest"}}

<h2 id="title">Welcome to Local-Storage-Test</h2>

{{#if this.showNotice}}
  <div>Notice-A</div>
{{/if}}
<button type="button" {{on "click" this.dismissNotice}}>Dismiss</button>

{{outlet}}